<section>
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">
        <h1>Formulario de registro</h1>
        <div class="content">
            <div class="hw">
                <p>Información del usuario</p>
                <p>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="apellido">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Edad</mat-label>
                        <input matInput type="number" formControlName="edad">
                    </mat-form-field>
                </p>
                <div>
                    <button mat-button disabled *ngIf="!paisesError && paises.length===0">
                        <mat-icon>
                            <mat-spinner diameter="18">
                            </mat-spinner>
                        </mat-icon>Cargando países...
                    </button>
                </div>
                <p *ngIf="paisesError" class="color-warn">
                    Error cargando paises. Intenta mas tarde.
                </p>
                <mat-form-field appearance="fill" *ngIf="paises.length>0" class="w-100">
                    <mat-label>Pais</mat-label>
                    <mat-select formControlName="pais">
                        <mat-option *ngFor="let pais of paises" [value]="pais | lowercase">
                            {{ pais }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button mat-button disabled *ngIf="!ciudadesError && cargando && ciudades.length===0">
                        <mat-icon>
                            <mat-spinner diameter="18">
                            </mat-spinner>
                        </mat-icon>Cargando ciudades...
                    </button>
                </div>
                <p *ngIf="ciudadesError" class="color-warn">
                    Error cargando ciudades. Intenta mas tarde.
                </p>
                <mat-form-field appearance="fill" *ngIf="ciudades.length>0" class="w-100">
                    <mat-label>Ciudad</mat-label>
                    <mat-select formControlName="ciudad">
                        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad | lowercase">
                            {{ ciudad }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="hw">
                <p>Personas a cargo</p>
                <div formGroupName="nuevaPersona">
                    <p>
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Nombre completo</mat-label>
                            <input matInput formControlName="nombreCompleto">
                        </mat-form-field>
                    </p>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Parentesco</mat-label>
                        <mat-select formControlName="parentesco">
                            <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco | lowercase">
                                {{ parentesco }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p>
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Edad</mat-label>
                            <input matInput type="number" formControlName="edad2">
                        </mat-form-field>
                    </p>
                    <button mat-stroked-button color="primary" (click)="agregarPersona()" [disabled]="!validPersonas()"
                        class="w-100">Agregar Persona a cargo</button>
                </div>
                <div *ngIf="personasArr.length > 0" class="mt" formArrayName="personas">
                    <div *ngFor="let persona of personasArr.value; let i = index">
                        <mat-form-field appearance="fill" class="w-80">
                            <input matInput
                                value="{{persona.parentesco}}: {{persona.nombreCompleto}} - {{persona.edad2}} años"
                                readonly>
                        </mat-form-field>
                        <button mat-mini-fab color="warn" (click)="borrarPersona(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>

            </div>

        </div>



        <button mat-flat-button class="mt w-100" color="primary" type="submit"
            [disabled]="!miFormulario.valid">Guardar</button>
    </form>
    <pre>Current Users: {{ users$ | async | json }}</pre>
    <div>
        <button mat-fab extended color="basic" class="mt" (click)="goToHome()">
            <mat-icon>home</mat-icon>
            Ir a Home
        </button>
    </div>
</section>